/***************************
Add your custom styles below
****************************/

/* Spenser */
.conclusion-section-left-padding {
    border-left: 20px #65a6fe solid;
}

.how-section-left-padding {
    border-left: 20px #667682 solid;
}

.recommendations-section-left-padding {
    border-left: 20px #bf67a9 solid;
}

.action-section-left-padding {
    border-left: 20px #67bfb8 solid;
}

/* font */
h1 {
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    font-weight: 600;
    padding: 30px 20px;
}

h3 {
    font-family: 'EB Garamond', serif;
    text-align: center;
}

p {
    font-family: 'OpenSans', sans-serif;
}

/* title */
.title .title-pattern {
    border-bottom: 5px #ccc solid;
    background:url('../img/bg/slash-pattern.png' ) repeat;
}

section.title {
    margin-top: 40px;
    padding-top: 0;
    padding-bottom: 0;
}

.title .row {
}

.title .title-text  {
    background-color: #ec7360;
    padding: 10px 0;
}

.title h2 {
    margin-bottom: 0;
    padding: 10px;
}

.title h2 {
    color: white;
    font-family: AGaramondPro;
    font-size: 51px;
    font-weight: 400;
    line-height: 24px;
}

.alt-background {
    background-color: #e8e8e8;
}

.row ul {
    padding-left: 20px;
}

/* footer */
#acknowledgements h5 {
    margin-bottom: 0;
}

footer {
    padding-top: 26px;
    padding-bottom: 0;
}

.img-wrap {
    height: 240px;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
}

.top-link:hover {
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
}

/*flex box */
.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.is-flex .box {
    background: none;
    position: static;
}