/***************************
Add your custom styles below
****************************/

/* Spenser */
.conclusion-section-left-padding {
    border-left: 20px #65a6fe solid;
}

.how-section-left-padding {
    border-left: 20px #667682 solid;
}

.recommendations-section-left-padding {
    border-left: 20px #bf67a9 solid;
}

.action-section-left-padding {
    border-left: 20px #67bfb8 solid;
}

/* font */
h1 {
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    font-weight: 600;
    padding: 30px 20px;
}

h3 {
    font-family: 'EB Garamond', serif;
    text-align: center;
}

p {
    font-family: 'OpenSans', sans-serif;
}

/* title */
.title .title-pattern {
    border-bottom: 5px #ccc solid;
    background:url('../img/bg/slash-pattern.png' ) repeat;
}

section.title {
    margin-top: 40px;
    padding-top: 0;
    padding-bottom: 0;
}

.title .row {
}

.title .title-text  {
    background-color: #ec7360;
    padding: 10px 0;
}

.title h2 {
    margin-bottom: 0;
    padding: 10px;
}

.title h2 {
    color: white;
    font-family: AGaramondPro;
    font-size: 51px;
    font-weight: 400;
    line-height: 24px;
}

.alt-background {
    background-color: #e8e8e8;
}

.row ul {
    padding-left: 20px;
}

/* footer */
#acknowledgements h5 {
    margin-bottom: 0;
}

footer {
    padding-top: 26px;
    padding-bottom: 0;
}

.img-wrap {
    height: 240px;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
}

.top-link:hover {
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
}

/*flex box */
.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.is-flex .box {
    background: none;
    position: static;
}

/* GP */

a {
    color: #fe9965;
    font-weight: 700;
    text-decoration: underline;
}

[data-overlay="2"]:before {
    opacity: 0.8;
}

/* Temp edit until recompile */
[data-overlay].bg--primary:before {
    background: #0088d6;
}

[data-overlay]:before {
    position: absolute;
    content: '';
    background: #0088d6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#headerBox {
    background-color: #ec7360;
    margin-left:0;
    padding-left:0;
}

#purpose, #takeAction {
    background-color: #e8e8e8;
}

#numbers {
    background: #ffffff;
    border-left: 20px solid #667682;
}

#numbersTwo {
    background: #ffffff;
    border-left: 20px solid #bf67a9;
}

#takeAction {
    border-left: 20px solid #bf67a9;
}

#numbers h4, #numbersTwo h4 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    padding: 15px 25px;
}

#numbers ol {
    margin-left: 60px;
    list-style-type: lower-alpha;
}

#numbers ul, #numbersTwo ul {
    margin-left: 60px;
    list-style-type: disc;
}

#numbers li, #numbersTwo li {
    color: #444;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 27px;
}

.numbersP {
    color: #444;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.citation {
    text-align: center;
    margin-top: -20px;
}

.blue-bg {
    background-color: #65a6fe;
}

.orange-bg {
    background-color: #fe9965;
}

.green-bg {
    background-color: #00a967;
}

.purple-bg {
    background-color: #bf67a9;
}

.gray-bg {
    background-color: #667682;
}

.gray-block {
    background-color: #e5e5e5;
    padding: 20px 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 27px;
}

.slashes{
    margin-top: 15px;
}

.garamond {
    font-family: 'EB Garamond', serif;
}

.opensans {
    font-family: 'Open Sans', sans-serif;
}

.text-shadow {
    text-shadow: 1.4px 1.4px 0 white;
}

.numbers {
    color: #ddd;
    font-family: 'Open Sans', sans-serif;
    font-size: 101px;
    font-weight: 700;
    line-height: 120px;
}

.quotes {
    margin-top: 130px;
    color: #FFFFFF;
    font-size: 482px;
}

.quotes-action {
    color: #FFFFFF;
    font-size: 340px;
    margin-top: 160px;
}

.quotation {
    color: #444;
    font-style: italic;
    line-height: 42px;
    font-family: 'EB Garamond', serif;
    font-size: 28px;
}

.link-outline {
    border: 3px solid #fe9965;
    padding: 15px 25px;
}

.link-outline:hover {
    background-color: #f39965;
    color: #FFFFFF;
    text-decoration: underline;
}

.margin-y {
    margin-top: 60px;
    margin-bottom: 60px;
}

.text-center-sm {
    text-align: inherit;
}

@media (min-width: 400px){
    h1 {
        font-size: 26px;
    }
}

@media (max-width: 767px){
    .hide-mobile{
        display:none;
    }
    .numbersP {
        text-align: center;
    }
    #numbers ol, #numbers ul, #numbersTwo ul {
        margin-left: 20px;
    }
    .text-center-sm {
        text-align: center;
    }
    #numbers h4, #numbersTwo h4, .quotation {
        font-size: 20px;
    }
}

@media (min-width: 768px){
    h1 {
        font-size: 36px;
    }
    .quotes{
        font-size: 300px;
    }
    .citation {
        text-align: right;
    }
    .numbers {
        margin-bottom: 20px;
    }
}

@media (min-width: 992px){
    h1 {
        font-size: 72px;
    }
    .quotes{
        font-size: 440px;
    }
}