h1 {
    color: white;
    font-family: 'Cormorant Garamond', serif;;
    font-size: 72px;
    font-weight: 600;
    padding: 30px 20px;
}

h3 {
    font-family: 'EB Garamond', serif;
    text-align: center;
}

[data-overlay="2"]:before {
    opacity: 0.8;
}

[data-overlay]:before {
    position: absolute;
    content: '';
    background: #0088d6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#headerBox{
    background-color: #ec7360;
    margin-left:0;
    padding-left:0;
}

@media (max-width:400px){
    h1 {
     font-size: 22px;
    }
}

@media (min-width: 401px) and (max-width:767px){
    h1 {
        font-size: 36px;
    }
}